:host {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.alert-div {
  display: inherit;
  align-items: center;
  width: 100%;
}

.alert-div:not(:first-of-type) {
  margin-top: 1rem;
}

.spacer {
  flex: 1;
}

.info-icon {
  margin-right: 0.5rem;
}
