header {
  background-color: #fff;
}

img {
  width: 100%;
}

.logo {
  width: 361px;
}

.logo.siemens {
  width: 250px;
}

.burger {
  display: none;
}

.socials {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 37px;
  background-color: #fbfbfb;
  border-bottom: 1px solid #eeeeee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 7rem;
  border-bottom: 5px solid #99cc33;
}

@media (max-width: 1310px) {
  .nav {
    display: none;
  }

  .burger {
    display: inline;
  }
}
